---
layout: none
---
<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Codnos Ltd - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/fontawesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/solid.min.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/brands.min.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
    <script type="text/javascript" src="js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
<section class="page-header page-header-full img-home">
    <div>
        <nav class="navbar fixed-top navbar-expand-lg navbar-trans" id="topnav">
            <div class="container">
                <a class="navbar-brand" href=".">
                    <div class="logo"><img src="img/logo.png" alt="Company logo"></div>
                    <span class="mb-0 ml-1 navbar-text text-white">codnos</span>
                </a>
                <button class="navbar-dark navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item active"><a class="nav-link text-white px-4" href=".">home</a></li>
                        <li class="nav-item"><a class="nav-link text-white px-4" href="services/">services</a></li>
                        <li class="nav-item"><a class="nav-link text-white px-4" href="how_we_work/">how we work</a></li>
                        <li class="nav-item"><a class="nav-link text-white px-4" href="blog/">blog</a></li>
                        <li class="nav-item"><a class="nav-link text-white px-4" href="about/">about</a></li>
                        <li class="nav-item"><a class="nav-link text-white px-4" href="contact/">contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid d-flex h-100">
        <div class="row align-self-center w-100">
            <div class="col w-100">
                <div class="jumbotron">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12"></div>
                            <div class="col-12 text-center">
                                <h1 class="text-white">driving your business transformation</h1>
                                <a href="services/" class="btn btn-lg btn-warning text-decoration-none">Check our
                                    services</a>
                            </div>
                            <div class="col-12"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-n5"><a href="#content"><i class="fas fa-chevron-circle-down fa-2x" style="color: #ffc107"></i></a></div>
</section>

<section class="main-content mb-4">
    <span class="anchor" id="content"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-0 col-lg-3"></div>
            <div class="col-md-12 col-lg-6">
                <h2>latest posts</h2>
                <ul class="news">
                    {% for post in site.posts limit:5 %}
                    <li class="mb-4">
                        <h6><a href="{{ post.url }}">{{ post.title }}</a></h6>
                        <span class="news-date">{{ post.date | date: "%Y-%m-%d" }}</span>
                        {{ post.excerpt }}
                        <a href="{{ post.url }}">Read more</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-0 col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-md-0 col-lg-3"></div>
            <div class="col-md-12 col-lg-6">
                <h2>what we do</h2>
                <p>
                    At Codnos we use latest technologies, best practices and effort of thousands of open source
                    developers to
                    make your business achieve its full potential.
                </p>
                <p>
                    We're here to help you in the world where everything is becoming digital and where not existing
                    online is like not existing at all.
                </p>
                <p>Please see below services that we provide to our customers.</p>
            </div>
            <div class="col-md-0 col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-md-0 col-lg-3">
            </div>
            <div class="col-md-6 col-lg-3 my-4">
                <div class="text-center">
                    <span class="d-inline-block mt-n4">
                        <i class="fas fa-laptop-code fa-2x" style="color: #92b8fc"></i>
                    </span>
                    <h5><a href="services/#bespoke-solutions">bespoke solution development</a></h5>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 my-4">
                <div class="text-center">
                    <span class="d-inline-block mt-n4">
                        <i class="fas fa-laptop-medical fa-2x" style="color: #ff8c8c"></i>
                    </span>
                    <h5><a href="services/#transformation">transforming existing products</a></h5>
                </div>
            </div>
            <div class="col-md-0 col-lg-3">
            </div>
        </div>
        <div class="row">
            <div class="col-md-0 col-lg-3">
            </div>
            <div class="col-md-6 col-lg-3 my-4">
                <div class="text-center">
                    <span class="d-inline-block mt-n4">
                        <i class="fas fa-palette fa-2x" style="color: #c587e2"></i>
                    </span>
                    <h5><a href="services/#design-poc">design and prototyping</a></h5>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 my-4">
                <div class="text-center">
                    <span class="d-inline-block mt-n4">
                        <i class="fas fa-ruler-combined fa-2x" style="color: #adf26b"></i>
                    </span>
                    <h5><a href="services/#consulting">code and delivery consulting</a></h5>
                </div>
            </div>
            <div class="col-md-0 col-lg-3">
            </div>
        </div>
        <div class="row">
            <div class="col-md-0 col-lg-3"></div>
            <div class="col-md-12 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <p> We provide a broad range of services which help our customers make full use of the software
                            that they have or plan to build.<br/>
                            If you would like have a chat about those...
                        </p>
                        <a href="contact/" class="btn btn-warning text-white text-decoration-none">Contact us</a>
                    </div>
                </div>
            </div>
            <div class="col-md-0 col-lg-3"></div>
        </div>
    </div>
</section>

<div class="footer-section">
    <div class="container py-4">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-3">
                <div class="logo"><img src="img/logo.png" alt="Company logo"></div>
                <span class="mb-0 ml-1 navbar-text text-white">codnos</span>
                <p>
                    At Codnos we use latest technologies and best practices to help your business
                    realize its full potential.
                </p>
                <div class="ccs-logo-container">
                    <div class="ccs-logo"></div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-3">
                <p>LATEST NEWS</p>
                <ul class="footer-section-links">
                    {% for post in site.posts limit:5 %}
                    <li><a class="py-2" href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 col-md-12 col-lg-3">
                <p>USEFUL LINKS</p>
                <ul class="footer-section-links">
                    <li><a class="py-2" href="services/"><span>Services</span><i class="fas fa-angle-right text-right"></i></a></li>
                    <li><a class="py-2" href="how_we_work/#practices"><span>Practices We Follow</span><i class="fas fa-angle-right text-right"></i></a></li>
                    <li><a class="py-2" href="how_we_work/#technology"><span>Technology We Use</span><i class="fas fa-angle-right text-right"></i></a></li>
                    <li><a class="py-2" href="blog/"><span>Blog</span><i class="fas fa-angle-right text-right"></i></a></li>
                    <li><a class="py-2" href="about/"><span>About us</span><i class="fas fa-angle-right text-right"></i></a></li>
                </ul>
            </div>
            <div class="col-12 col-md-12 col-lg-3">
                <p>CONTACT</p>
                <p>
                    5 Carrwood Park<br/>
                    Selby Road<br/>
                    Leeds<br/>
                    LS15 4LG<br/>
                    United Kingdom
                </p>
                <ul class="footer-section-contact">
                    <li>
                        Email: <a href="mailto:info@codnos.com">info@codnos.com</a>
                    </li>
                    <li>
                        Phone: +<span></span>4<span></span>4<span></span>&nbsp;7<span></span>7<span></span>1<span></span>1<span></span>&nbsp;0<span></span>2<span></span>1<span></span>7<span></span>3<span></span>1<span></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-3 py-1">
            </div>
            <div class="col-12 col-md-12 col-lg-6 py-1">
                <div>
                    Copyright &copy; Codnos Ltd 2019. All rights reserved.
                </div>
                <div>
                    Codnos Ltd is registered in United Kingdom. Number: 10080999
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-3 py-1 site-footer-social">
                <a href="http://github.com/Codnos" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/codnos_ltd" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>
</body>

</html>