<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="js/object-assign-polyfill.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/blueimp-helper.js"></script>
	<script type="text/javascript" src="js/blueimp-gallery.min.js"></script>
	<script type="text/javascript" src="js/blueimp-gallery-fullscreen.js"></script>
	<script type="text/javascript" src="js/vue-gallery.min.js"></script>
	<script type="text/javascript" src="js/blueimp-gallery-audio.js"></script>
	<script type="text/javascript" src="files.js"></script>
	<link rel="stylesheet" type="text/css" href="css/theme.css"/>
	<link rel="stylesheet" type="text/css" href="css/theme-pink.css"/>
	<link rel="stylesheet" type="text/css" href="css/blueimp-gallery.min.css"/>

	<style id="compiled-css" type="text/css">
		.blueimp-gallery>.indicator>li {
			display: none;
		}

		.blueimp-gallery>.slides>.slide>.audio-content {
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			height: 100%;
		}
	</style>

	<script type="text/javascript">
		window.onload = function () {
			new Vue({
				el: '#app',
				data: function () {
					return {
						title: "",
						filesData: [],
						index: null,
						showDetails: {},
						showSteps: {},
					};
				},

				components: {
					'gallery': VueGallery
				},

				computed: {
					imagesInFiles: function () {
						return this.flatMap(function (section) { return section.images; }, this.filesData);
					}
				},

				mounted: function () {
					this.title = title;
					var filesData = files;

					var counter = 0;
					var dataWithIndexes = [];
					filesData.forEach(function (section) {
						var images = section.images;
						if (images === undefined || images === null) {
							images = [];
						}
						var rest = Object.keys(section).filter(function (f) { return f !== 'images'; }).reduce(function (prev, curr) { prev[curr] = section[curr]; return prev; }, {});
						var filesWithIndexes = images.map(function (image) {
							return Object.assign({ "index": counter++ }, image);
						});
						var newData = Object.assign({ "images": filesWithIndexes }, rest);
						dataWithIndexes.push(newData);
					});
					this.filesData = dataWithIndexes;
				},

				methods: {
					flatMap: function (f, xs) {
						return xs.reduce(function (acc, x) { return acc.concat(f(x)); }, []);
					},
					getStyle: function (fileData) {
						if (fileData.type) {
							return { backgroundImage: 'url(img/play.png)' };
						} else {
							return { backgroundImage: 'url(' + fileData.href + ')' };
						}
					},
					toggleDetails: function (key, event) {
						var current = this.showDetails[key];
						if (current === null || current === undefined) {
							current = false;
						}
						Vue.set(this.showDetails, key.toString(10), !current);
						if (event) {
							event.preventDefault();
							event.target.classList.toggle("active");
						}
					},
					toggleSteps: function (key, event) {
						var current = this.showSteps[key];
						if (current === null || current === undefined) {
							current = false;
						}
						Vue.set(this.showSteps, key.toString(10), !current);
						if (event) {
							event.preventDefault();
							event.target.classList.toggle("active");
						}
					}
				}
			});
		}
	</script>
	<title>Photo Gallery</title>
</head>

<body>
	<div id="app">
		<gallery :images="imagesInFiles" :index="index" @close="index = null" :options="{'stretchImages': true}">
		</gallery>
		<div class="top-bar">
			<h1>{{title}}</h1>
		</div>
		<div class="container">
			<div v-for="(section, sectionIndex) in filesData" :key="sectionIndex" class="page">
				<h2>{{section.title}}</h2>
				<hr />
				<div class="section-container">
					<div v-if="section.description['Observation']" class="section-description">
						<div>
							<h3>Observation -
								{{section.description['Observation'] ? section.description['Observation'].date:''}}</h3>
							<p class="observation-text">
								{{section.description['Observation'] ? section.description['Observation'].text : ''}}
							</p>
							<button @click="toggleDetails(sectionIndex, $event)"
								class="accordion">{{showDetails[sectionIndex] ? 'Hide details...' : 'Details...'}}</button>
							<div class="details" v-if="section.description['Observation'].details"
								v-show="showDetails[sectionIndex] === true"
								v-for="details in section.description['Observation'].details">
								<div v-for="(value, key) in details">
									<h4>{{key}}</h4>
									<p>{{value}}</p>
								</div>
							</div>
						</div>
						<div v-if="section.description['Next steps']">
							<h3>Next steps -
								{{section.description['Next steps'] ? section.description['Next steps'].date : ''}}</h3>
							<p class="observation-text">
								{{section.description['Next steps'] ? section.description['Next steps'].text : ''}}</p>
							<button @click="toggleSteps(sectionIndex, $event)"
								class="accordion">{{showSteps[sectionIndex] ? 'Hide details...' : 'Details...'}}</button>
							<div class="details" v-if="section.description['Next steps'].details"
								v-show="showSteps[sectionIndex] === true"
								v-for="details in section.description['Next steps'].details">
								<div v-for="(value, key) in details">
									<h4>{{key}}</h4>
									<p>{{value}}</p>
								</div>
							</div>
						</div>
					</div>
					<br />
					<div class="section">
						<div class="image" v-for="fileData in section.images" :key="fileData.index"
							@click="index = fileData.index" :style="getStyle(fileData)"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
				<p>Gallery generated by <a href="http://codnos.com">Codnos Ltd</a>. Items in gallery provided by their respective owner.</p>
		</div>
	</div>
</body>

</html>