---
layout: default
additional_header_classes: img-blog
hero_header: |
    <div class="jumbotron jumbotron-smaller">
    <div class="container">
    <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-center"></div>
    <div class="col-sm-3"></div>
    </div>
    </div>
    </div>
---
<div class="container">
    <div class="row mt-4">
        <div class="col-12">
            <article class="post">
                <h2>{{ page.title }}</h2>

                <div class="entry">
                    {{ content }}
                </div>

                <div class="news-date">
                    Posted on {{ page.date | date: "%B %e, %Y" }}
                </div>

            </article>
        </div>
    </div>
</div>