---
layout: default
---
<div class="container">
    <div class="row mt-4">
        <div class="col-md-0 col-lg-3"></div>
        <div class="col-md-12 col-lg-6">
            <article class="post">
                <h2>{{ page.title }}</h2>

                <div class="entry">
                    {{ content }}
                </div>

                <div class="news-date">
                    Posted on {{ page.date | date: "%B %e, %Y" }}
                </div>

            </article>
        </div>
        <div class="col-md-0 col-lg-3"></div>
    </div>
</div>