@font-face {
    font-family: 'Lobster';
    src: url('../Lobster-Regular.ttf');
}

@font-face {
    font-family: 'Lora';
    src: url('../Lora-Regular.ttf');
}

html,
body {
    background-color: #d3eef5;
    font-family: 'Lora';
}

.top-bar {
    background-color:#9cb2b5;
    color:#4a4339;
    padding: 25px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 25px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 25px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 25px rgba(0, 0, 0, 0.2);
}

.top-bar>h1 {
    font-family: 'Lobster';
    font-size: 4em;
}

.footer {
    background-color: #9cb2b5;
    color: #4a4339;
}

.footer a,a:hover,a:visited {
    color: #000;
}

.page {
    border-radius: 5px;
    background-color: white;
    color: #4a4339;
    padding: 50px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.accordion {
    border-radius: 5px;
    background-color:#f7f4e8;
    color: #4a4339;
}

.accordion:hover {
    background-color: #f7f4e8;
}