html,
body {
    background-color: #F5F5F5;
	font-family: Avenir, Helvetica, Arial, sans-serif;
}

.top-bar {
    background-color: black;
    color: white;
    padding: 20px;
}

.footer {
    background-color: #111;
    color: white;
}

.footer a,a:hover,a:visited {
    color: #999;
}

.page {
    padding: 50px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.accordion {
    background-color: #eee;
	color: #444;
}

.accordion:hover {
    background-color: #ccc;
}